// Background colors
$background-color-primary: rgb(195, 226, 41);
$background-color-secondary: rgb(193, 21, 127);

// Buton colors
$button-background-color-primary: rgb(105, 105, 213);

$button-background-color-active: rgb(193, 21, 127);

$button-text-color-primary: white;

$box-shadow-color-primary: gray;

// Disabled colors
$disabled-color-primary: gray;

// Colors
$color-secondary: rgb(255, 255, 255);

// from an external component input
$search-btn-primary: #006489;
$search-btn-secondary: #03c5e3;


//--------------NavBar-----------------//

$--mainColor: #29335C;
$--mainColorLight: #5767aa;
$--secenderyColor: #DB2B39;
$--textColor: gray;

// ----------socialLinks colors------------ //
$--twitter-color: #1da1f2;
$--facebook-color: #3b5998;
$--close-color: #000;
$--discord-color: #7289DA;
$--whatsapp-color: #25d366;
$--gradient-start-color: #ff512f;    
$--gradient-end-color: #dd2476;    
$--icon-color: #fff;  
$--custom-black-color: rgba(0, 0, 0, 0.1);
$--translucent-White: rgba(255, 255, 255, 0.5);

//------------------------------------------------//