.spinner-square-container {
  background: $background-color-primary;
  margin: $margin-secondary;
  height: 400px;
  width: 400px;
  position: relative;
  overflow: hidden;

  .spinner-square-box {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
  }

  .spinner-square {
    height: 94%;
    width: 94%;
    background: $background-color-secondary;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -47% 0 0 -47%;
  }
  .spinner-color {
    background-color: $background-color-primary;
    animation: rotate 20s infinite linear;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
